<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">
	<bean id="schemaAspect" class="com.jaredluo.springlearning.aop.schema.SchemaAspect"></bean>
	<bean id="schemaBiz" class="com.jaredluo.springlearning.aop.schema.SchemaBiz"></bean>

	<aop:config>
		<aop:aspect id="schemaAspectAOP" ref="schemaAspect">
			<aop:pointcut
				expression="execution(* com.jaredluo.springlearning.aop.schema.SchemaBiz.*())"
				id="schemaPointcut" />
			<aop:before method="before" pointcut-ref="schemaPointcut" />
			<aop:after-returning method="afterReturning"
				pointcut-ref="schemaPointcut" />
			<aop:after-throwing method="afterThrowing"
				pointcut-ref="schemaPointcut" />
			<aop:after method="after" pointcut-ref="schemaPointcut" />
			<aop:around method="around"
				pointcut="execution(* com.jaredluo.springlearning.aop.schema.SchemaBiz.biz1())" />
			<aop:around method="aroundWithArgs"
				pointcut="execution(* com.jaredluo.springlearning.aop.schema.SchemaBiz.biz2(String, Integer)) and args(name, times)" />

			<aop:declare-parents
				types-matching="com.jaredluo.springlearning.aop.schema.*+"
				implement-interface="com.jaredluo.springlearning.aop.schema.AccessCount"
				default-impl="com.jaredluo.springlearning.aop.schema.AccessCountImpl" />
		</aop:aspect>
	</aop:config>
</beans>